<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    
    <title>F-BL - Accueil</title>
    <link rel="shortcut icon" href="media/logoFBL.png">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">

  </head>
  
  <body style="overflow: hidden" ng-app="myApp" ng-controller="liguesCtrl">

    <!-- Navigation -->
    <nav id="navbar" class="navbar navbar-expand-lg fixed-top">
      <div class="container">
          <a class="navbar-brand " href="index.html"><img id="logo" src="media/logoFBL.png"/></a>
          <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="index.html">Accueil</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Compétitions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="creationCompetition.html">Créer une compétition privée</a>
                        <a class="dropdown-item" href="rejoindreCompetition.html">Rejoindre une compétition privée</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="mesCompetitions.html">Mes compétitions</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link" href="match.html" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Matchs
                    </a>
                </li> 
                <li>
                    <a class="nav-link" href="equipe.html" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Equipes
                    </a>
                </li>  
          </ul>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="about.html">About</a>
                </li>
                <li>
                    <a class="nav-link" href="Connexion.html">Se deconnecter</a>
                </li>
            </ul>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
      </div>
    </nav>   
    
    <div id="transparent" class="row" style="margin-top:-150px;"></div>
    <!-- Page Content -->
     <section class="mt-5">
      <div class="container mt-5">
        <div class="row" style="margin-left:21%">
            <div id="presentation" class="col-lg-9 col-8">
                <h1 class="mt-5 mb-4" style="text-align:center">les ligues :</h1>
                <div class="col-12">
                    <div class="mt-3 mb-5">
                        <div class="col-12 row">
                            <table class="table table-striped" name="ligues" type="text" ng-model="ligues">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Ligue</th>
                                        <th scope="col">Date Création</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="ligue in ligues">
                                        <td></td>
                                        <td>{{ligue.nom_ligue}}</td>
                                        <td>{{ligue.date_creation}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    <script type="text/javascript" src="properties.js"></script>
    <script type="text/javascript" src="ligue.js"></script>

  </body>

</html>
